
/* .testheight Not required - unless testing ;) */

.testheight {
  height:1200px;
  font-size:20px;
  text-align:center;
  padding: 100px 20px;
}
.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	z-index: 99;
	bottom:10px;
	right:10px;	
}
.scroll {
    position: absolute;
    right: 10px;
    bottom: 8px;
    /*background-color: #FF3838;*/
    padding: 10px 18px;
    text-align: center;
    margin: 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    z-index: 99;
}
.scroll:hover {
    background-color: transparent;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    /*border: 2px solid #7A7A7A;*/
}
.scroll .fa:hover {
    padding-top: -10px;
    color: #D3D3D3;
}
.scroll .fa {
	font-size: 30px;
	margin-top: -5px;
	margin-left: 1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	color: #ebebeb;
}

.scroll-icon {
    color: #cdcdcd;
    font-size: 30px;
}