
@media screen and (max-width: 925px) {

    .openbtn {
        display: inline-block;
        cursor: pointer;
        background-color: firebrick;
        position: absolute;
        right: 0;
        top: 0;
        padding: 20px;
        color: whitesmoke;
        vertical-align: center;
        border: none;
        height: 70px;
    }

    .openbtn:hover {
        color: white;
        padding: 15px 20px;
        border: none;
    }
}


    /* The Overlay (background) */
    .overlay {
      /* Height & width depends on how you want to reveal the overlay (see JS below) */
      height: 0;
      width: 100%;
      position: fixed; /* Stay in place */
      z-index: 100; /* Sit on top */
      left: 0;
      top: 0;
      background-color: rgb(0,0,0); /* Black fallback color */
      background-color: rgba(0, 0, 0, 0.93); /* Black w/opacity */
      overflow-x: hidden; /* Disable horizontal scroll */
      transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    }

    /* Position the content inside the overlay */
    .overlay-content {
      position: relative;
      top: 10%; /* 15% from the top */
      width: 100%; /* 100% width */
      text-align: center; /* Centered text/links */
      margin-top: 20px; /* 25px top margin to avoid conflict with the close button on smaller screens */
    }

    /* The navigation links inside the overlay */
    .overlay a {
      padding: 10px;
      text-decoration: none;
      font-family: Verdana, serif;
      font-size: 23px;
      color: #818181;
      display: block; /* Display block instead of inline */
      transition: 0.3s; /* Transition effects on hover (color) */
    }

    /* When you mouse over the navigation links, change their color */
    .overlay a:hover, .overlay a:focus, .overlay a.active {
        color: whitesmoke;
    }

    /* Position the close button (top right corner) */
    .overlay .closebtn {
      position: absolute;
      top: 10px;
      right: 35px;
      font-size: 45px;
    }

    .dropdown {
        cursor: pointer;
        text-align: center;
        display: none;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .dropdown a {
        /*color: #b93131;*/
        color: #b93131;
        font-weight: 500;
        font-size: 23px;
    }

    .dropdown a:hover {
        color: #b93131;
        text-decoration: underline;
     }

    .dropdown a.active,
    .dropdown a.active:hover,
    .dropdown a:focus {
        color: #b93131;
        background-color: transparent;
        font-weight: 600;
    }



    /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
    @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


    /* Top Nav Drop Down List css code*/
    .dropbtn, .dropbtn a {
        font-size: 16px;
        border: none;
        cursor: pointer;
        color: whitesmoke;
        font-weight: 500;
        padding: 10px 20px;
        background-color: transparent;
        border-radius: 0;
    }

    .dropbtn:hover,
    .dropbtn a:hover {
        border-top: 0 solid whitesmoke;
        padding: 10px 20px;
    }

    .dropbtn a.active,
    .dropdown a.active:hover {
        color: whitesmoke;
        background-color: #b93131;
        border-top: 0 solid whitesmoke;
        padding: 10px 20px;
    }

    .dropdownnav {
        display: inline-block;
        list-style-type: none;
        text-align: center;
        position: relative;
    }

    .dropdownnav a {
        display: inline-block;
        list-style-type: none;
        text-align: center;
        position: relative;
    }

    .dropdownnav a.active {
        font-weight: 500;
        width: 100%;
        color: whitesmoke;
        background-color: #b93131;
    }

    .dropdownnav-content {
        margin: 19px -20px;
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 180px;
        overflow: auto;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdownnav-content a {
        font-weight: 600;
        font-family: "Oswald Light", serif;
        font-size: 1.05em;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
    }

    .dropdownnav-content a:hover {
        font-weight: 600;
        width: 100%;
        color: #b93131;
        background-color: transparent;
    }

    .dropdownnav-content a:focus {
        font-weight: 600;
        width: 100%;
        color: #b93131;
    }

    .dropdownnav-content a.active,
    .dropdownnav-content a.active:hover {
        font-weight: 500;
        width: 100%;
        color: whitesmoke;
        background-color: #b93131;
    }

    .show {
        display: block;
    }