@charset "utf-8";
* {
  margin: 0;
  padding: 0;  
  -webkit-box-sizing: border-box;	
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
	box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

    @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(../fonts/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
        src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(../fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
        url(../fonts/iconfont/MaterialIcons-Regular.woff) format('woff'),
        url(../fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype');
    }

    .material-icons {
        font-family: 'Material Icons', serif;
        font-weight: normal;
        font-style: normal;
        font-size: 25px; /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: rtl;

        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;

        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;

        /* Support for IE. */
        font-feature-settings: 'liga';
    }

    .iti__flag {background-image: url('../images/flags.png');}

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .iti__flag {background-image: url('../images/flags@2x.png');}
    }

    @font-face {
        font-family: Lato;
        src: url(../fonts/Lato-Regular.ttf);
    }
    @font-face {
        font-family: "Lato Light";
        src: url(../fonts/Lato-Light.ttf);
    }
    @font-face {
        font-family: "Lato Black";
        src: url(../fonts/Lato-Black.ttf);
    }
    @font-face {
        font-family: "Oswald Light";
        src: url(../fonts/Oswald-Light.ttf);
    }
    @font-face {
        font-family: "Oswald SemiBold";
        src: url(../fonts/Oswald-SemiBold.ttf);
    }
    @font-face {
        font-family: Oswald;
        src: url(../fonts/Oswald-Regular.ttf);
    }
    @font-face {
        font-family: "Hind Madurai";
        src: url(../fonts/HindMadurai-Regular.ttf);
    }
    @font-face {
        font-family: "Hind Madurai Light";
        src: url(../fonts/HindMadurai-Light.ttf);
    }
    @font-face {
        font-family: Federo;
        src: url(../fonts/Federo-Regular.ttf);
    }
    @font-face {
        font-family: Roboto;
        src: url(../fonts/Roboto-Regular.ttf);
    }
    @font-face {
        font-family: Montserrat;
        src: url(../fonts/Montserrat-Regular.ttf);
    }

    body {
        width: 100%;
        margin: 0;
        background-image: url('../images/index-bkgrd-pic-dark-2.jpg');
        background-repeat: no-repeat;
    }

    .container {
        width: 100%;
        padding: 0 100px;
        display: block;
    }

    a {
        display: inline-block;
        text-decoration: none;
    }

    footer {
        width: 100%;
        /*max-width: 1440px;*/
        margin: 60px 0 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.96);
        height: auto;
        font-family: "Montserrat", serif;
        font-size: 0.85em;
        font-weight: 500;
        color: whitesmoke;
        padding: 40px 30px;
        display: block;
        text-align: justify;
    }

    .div-footer-followus{
        display: inline-block;
        float: right;
        margin: -50px 0 0;
    }

    .footerCONTACT-h2 {
        color: #1659FF;
        font-weight: bold;
        font-size: 1.2em;
        padding: 0 0 20px;
        margin: 0;
        font-family: Verdana, Oswald, "Oswald SemiBold", serif;
    }

    .footer-FB {
        color: whitesmoke;
        font-weight: bolder;
        font-size: 24px;
    }

    .footer-FB:hover {
        color: #b93131;
    }

    .footer-INSTA {
        color: whitesmoke;
        margin: 0 32px;
        font-weight: bolder;
        font-size: 25px;
    }

    .footer-INSTA:hover {
        color: #b93131;
    }

    .footer-TWITTER {
        color: whitesmoke;
        font-weight: bolder;
        font-size: 25px;
    }

    .footer-TWITTER:hover {
        color: #b93131;
    }

    .footerlinks {
        text-align: right;
        list-style: none;
        font-family: "Oswald Light", serif;
        font-size: 1.2em;
        margin: 10px 0 0;
        display: block;
    }

    .footerlinks li {
        display: inline;
    }

    .footerlinkitem {
        padding: 8px;
    }

    .footerlinkitem a {
        font-weight: 500;
        color: whitesmoke;
        display: inline-block;
        padding: 8px 15px;
    }

    .footerlinkitem a:hover,
    .footerlinkitem a:focus {
        /*color: #c3c3c3;*/
        color: #b93131;
    }

    .footerlinkitem a.active,
    .footerlinkitem a.active:hover {
        border-bottom: 2px solid transparent;
        color: whitesmoke;
        font-weight: 500;
        padding: 8px 15px;
        background-color: #b93131;
        border-radius: 0;
        text-decoration: none;
    }

    .footeradd {
        font-size: 1.4em;
    }

    .footercopyrite {
        margin: 10px 0 0;
        color: gray;
    }

    header {
        background-color: rgba(0, 0, 0, 0.96);
        padding: 17px 17px 17px 0;
        width: 100%;
        height: 80px;
        display: block;
        vertical-align: middle;
    }

    .openbtn, .overlay {
        display: none;
    }

    .vlink-logo {
        width: 240px;
        height: 80px;
        padding: 0 10px 0 5px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
    }

    .parallax {
        /* The image used */
        background-image: url('../images/index-bkgrd-pic.jpg');

        /* Set a specific height */
        min-height: 480px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    svg {
        height: 100%;
        width: 100%;
    }

    nav {
        font-weight: 500;
        font-family: "Oswald Light", serif;
        font-size: 1.05em;
        text-align: center;
        overflow: hidden;
        vertical-align: middle;
        display: inline;
        color: whitesmoke;
        margin: 0;
        padding: 0;
    }

    .navlist {
        list-style-type: none;
        text-align: center;
        float: right;
        vertical-align: middle;
        display: inline;
    }

    .navlist li {
        display: inline;
    }

    .navlistitem {
        list-style-type: none;
        text-align: center;
        padding: 0 5px;
    }

    .navlistitem a {
        padding: 10px 20px;
        display: inline-block;
        color: whitesmoke;
    }

    .navlistitem a:hover {
        border-top: 3px solid whitesmoke;
        padding: 7px 20px;
    }

    .navlistitem a:visited,
    .navlistitem a:focus {
        /*background-color: #191919;*/
    }

    .navlistitem a.active,
    .navlistitem a.active:hover {
        border-top: 0 solid whitesmoke;
        color: whitesmoke;
        font-weight: 500;
        padding: 10px 25px;
        background-color: #b93131;
        border-radius: 0;
        text-decoration: none;
    }

    .index-welcome-container {
        padding: 0 70px;
        width: 100%;
        display: block;
        margin: 70px auto;
    }

    .index-welcome-box {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px 30px;
        font-weight: 500;
        display: block;
        align-items: center;
    }

    .index-welcome-h2 {
        font-family: "Lato Black", Federo, serif;
        text-align: center;
        display: inline-block;
        margin: 0 auto;
        font-size: 3.6em;
        font-weight: 500;
        color: whitesmoke;
    }

    .index-welcome-content {
        margin: 30px auto;
        padding: 15px;
        text-align: center;
        width: 40%;
        font-family: Montserrat, "Hind Madurai Light", Verdana, Lato, serif;
        font-style: italic;
        font-weight: 400;
        display: inline-block;
        color: #ebebeb;
        font-size: 0.95em;
        line-height: 2em;
        border-radius: 5px;
        background-color: rgba(10, 10, 10, 0.85);
    }

    .but-getaquote {
        margin: 20px auto 0;
        background-color: #ebeb19;
        width: 240px;
        padding: 16px 20px;
        display: block;
        color: #010101;
        font-family: "Open Sans", Roboto, "Lato Black", serif;
        font-size: 1.2em;
        font-weight: 600;
        border-radius: 3px;
        text-decoration: none;
    }

    .but-getaquote:hover,
    .but-getaquote:focus {
        color: #0f0f0f;
        text-decoration: none;
        background-color: rgb(215, 215, 25);
    }

    .subheader-h2 {
        font-family: Oswald, serif;
        /*display: inline-block;*/
        margin: 280px auto 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.96);
        padding: 10px 20px;
        font-size: 1.9em;
        font-weight: 500;
        color: #ebebeb;
    }

    .body-content {
        width: 100%;
        padding: 50px 0 0;
        font-weight: 500;
        display: inline-block;
    }

    .services-container {
        width: 100%;
        display: inline-block;
        margin: 40px 0 0;
    }

    .services {
        width: 100%;
        display: inline-block;
        margin: 30px 25px 0;
        /*box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);*/
        padding: 20px 25px 30px;
    }

    .services-h2 {
        font-family: "Oswald SemiBold", serif;
        /*font-size: 1.5em;*/
        color: #393973;
        margin: 20px 0 0;
    }

    .services-p {
        font-family: Montserrat, Lato, Arial, serif;
        font-size: 1em;
        font-weight: 500;
        line-height: 1.7em;
        height: 125px;
        overflow: auto;
    }

    .aboutus-p {
        text-align: left;
        font-family: Verdana, Montserrat, Lato, serif;
        font-size: 1.05em;
        margin: 0 0 20px;
        color: #696969;
        font-weight: 500;
        width: 75%;
    }

    .aboutus-h2 {
        text-align: left;
        font-family: "Oswald SemiBold", Lato, Arial, serif;
        font-size: 1.6em;
        margin: 0 0 20px;
        color: black;
        font-weight: 500;
        width: 100%;
    }

    .but-showmore {
        margin: 10px 0 30px;
        background-color: orangered;
        border: 0 solid orangered;
        padding: 5px 20px;
        display: inline;
        color: whitesmoke;
        font-family: Montserrat, Lato, Roboto, serif;
        font-size: 0.95em;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
    }

    .but-showmore:hover,
    .but-showmore:visited,
    .but-showmore:focus {
        margin: 10px 0 30px;
        text-decoration: none;
        border: 0 solid orangered;
        cursor: pointer;
        box-shadow: 0 4px 10px 0 rgba(255, 69, 0, 0.71), 0 4px 20px 0 rgba(255, 69, 0, 0.71);
    }

    button.but-showmore:active,
    button.but-showmore:visited {
        margin: 10px 0 30px;
        text-decoration: none;
        border: 0 solid orangered;
        box-shadow: 4px 8px 16px orangered;
        cursor: pointer;
    }

    .but-tailormade {
        margin: 10px 0 30px;
        background-color: orangered;
        border: 0 solid orangered;
        padding: 5px 20px;
        display: inline-block;
        color: whitesmoke;
        font-family: Montserrat, Lato, Roboto, serif;
        font-size: 1em;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
        -webkit-appearance: none;
    }

    a.but-tailormade:hover,
    a.but-tailormade:focus {
        margin: 10px 0 30px;
        text-decoration: none;
        box-shadow: 4px 8px 16px orangered;
        cursor: pointer;
    }

    #hi {
        margin: 0;
        font: 1.45em Verdana, sans-serif;
        text-align: center;
    }

    #required {
        margin: 50px 0 60px;
        text-align: center;
    }

    #required code {
        font-family: Lato, sans-serif;
        font-style: italic;
        font-size: 0.85em;
    }

    .container-form {
        margin: 0;
        padding: 50px;
    }

    .container-form input {
        font-family: Verdana, Montserrat, serif;
        padding: 14px;
        margin: 0 0 33px;
        width: 47%;
        display: inline-block;
    }

    .container-form select {
        font-family: Verdana, Montserrat, serif;
        padding: 15px;
        margin: 0 0 33px;
        font-size: 0.9em;
        width: 47%;
        display: inline-block;
        border: 1px solid #afafaf;
    }

    .container-form textarea {
        width: 100%;
        padding: 14px;
        margin: 0 0 33px;
    }

    .choice option {
        color: black;
        padding: 15px;
        font-family: Verdana, Montserrat, serif;
    }

    .empty { color: #696969; }

    legend {
        font-family: Verdana, "Oswald SemiBold", sans-serif;
        font-size: 1em;
        font-weight: 600;
        display: inline-block;
        color: whitesmoke;
        background-color: #5888d7;
        padding: 10px;
    }

    fieldset {
        width: 100%;
        padding: 30px;
        margin: 20px 0;
    }

    .copyright {
        font-size: 10px;
        font-weight: 500;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #696969;
        font-size: 0.9em;
        opacity: 1; /* Firefox */
        font-family: Verdana, Montserrat, serif;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #696969;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #696969;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
        height: 17px;
        width: 17px;
        margin: 0 10px;
        background-color: royalblue;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

    .step.active {
        opacity: 1;
        color: #00007d;
    }

    /* Mark the steps that are finished and valid: */
    .step.finish {
        opacity: 1;
        background-color: limegreen;
    }

    .error {
        color: #b94c4c;
        font-size: 4.5em;
    }

    @media screen and (max-width: 1000px) {
        footer {
            text-align: left;
            font-size: 0.9em;
            padding: 40px 30px;
        }

        .footeradd {
            font-size: 1.3em;
        }
    }

    @media screen and (max-width: 925px) {
        .openbtn, .overlay {
            display: block;
        }

        footer {
            text-align: center;
            font-size: 0.9em;
            padding: 40px 30px;
        }

        .div-footer-followus {
            display: block;
            float: none;
            text-align: center;
            margin: 40px 0 0;
        }

        .footerlinks {
            text-align: center;
            font-size: 1.2em;
            margin: 30px 0 0;
        }

        .footeradd {
            font-size: 1.3em;
        }

        header {
            background-color: rgba(3, 3, 3, 0.96);
            padding: 17px 17px 17px 0;
            width: 100%;
            height: 70px;
            display: block;
            vertical-align: middle;
        }

        .vlink-logo {
            width: 200px;
            height: 70px;
            padding: 0;
            position: absolute;
            top: 0;
            left: 0;
            background-color: white;
        }

        nav {
            display: none;
        }
    }

    @media screen and (max-width: 850px) {
        footer {
            text-align: center;
            font-size: 0.9em;
            padding: 40px 30px;
        }
    }

    /* On screens that are 600px wide or less */
    @media screen and (max-width: 600px) {
        footer {
            text-align: center;
            font-size: 0.9em;
            padding: 40px 30px;
        }

        .div-footer-followus {
            display: inline-block;
            float: none;
            text-align: center;
            margin: 40px 0 0;
        }

        .footerlinks {
            text-align: center;
            font-size: 1.2em;
            margin: 30px 0 0;
        }

        .footeradd {
            font-size: 1.3em;
        }

        .editbutton {
            color: white;
            background-color: #2da52d;
            padding: 8px 20px;
            font-family: Montserrat, serif;
            font-size: 1em;
            font-style: normal;
            font-weight: 500;
            cursor: pointer;
        }

        .editbutton div {
            cursor: pointer;
        }

        .editbutton:hover {
            box-shadow: 0 8px 16px 0 forestgreen, 0 6px 20px 0 forestgreen;
            -webkit-appearance: none;
        }

        .container {
            padding: 0;
        }

        .container-form {
            margin: 0;
            padding: 30px;
        }

        .container-form input {
            width: 100%;
        }

        .container-form select {
            width: 100%;
        }

        button.w3-button.w3-red-cancel {
            margin-top: 1px;
        }

        fieldset {
            padding: 30px;
        }

        .w3-center-services-h2 {
            width: 90%;
        }

        .w3-col.s4-services {
            width: 100%;
            margin: 0 auto 40px;
        }

        .parallax {
            min-height: 200px;
        }

        .subheader-h2 {
            margin-top: 200px;
        }

        header {

        }

        .vlink-logo {
            width: 200px;
            /*background-image: url("../images/logo-@4x-mobile.png");*/
            /*img: src = "images/SVG/vlink-logo.svg";*/
        }

        .index-welcome-content {
            width: 100%;
        }

        .index-welcome-box {
            width: 100%;
            padding: 0 10px;
        }

        .index-welcome-container {
            font-size: 90%;
            padding: 0;
            width: 100%;
            display: block;
            margin: 50px auto;
        }

        .w3-medium {
            font-size: 15px;
        }

        .w3-modal {
            z-index: 3;
            display: none;
            padding: 85px 40px 0;
            width: 100%;
        }

        .sliderWrapper {
            text-align: left;
            font-size: 1.05em;
            margin: 30px 0;
        }

        .container-checkbox {
            text-align: justify;
        }

        .aboutus-h2 {
            text-align: center;
        }
    }